<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>
            Stock Prediction Website
        </title>
    
        <body>
            <h1>Smart Trader Console</h1>
            
            <p>Assume today's date is: </p> 
            <form>
                <input type= "date" name = "date" required>
                <button type="submit">Submit</button>
            </form>
    
    
        </body>
    </head>
</html>